// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Components
@import "components/navigation";
@import "components/header";

body {
    background-color: $secondary;
}

.container {
    width: 70%;
}
